* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-color: #ccc;
}

body {
  background: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.titulo {
  text-align: left;
  font-size: 1.5rem;
}

h1 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.imc {
  display: flex;
  padding: 10px;
}

.imc-descricao-resultado {
  margin-left: 80px;
}


form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form input {
  font-size: 1rem;
  height: 50px;
  padding: 0 20px;
  border: 1px solid var(--primary-color);
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color:#000;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  height: 50px;
  cursor: pointer;
}

form button:hover {
  background: rgba(204, 204, 204, .5);
}

.paragrafo-resultado {
  background: #0c7d26;
  color: #fff;
  padding: 10px 20px;
}

.paragrafo-error {
  background: #d11201;
  color: #fff;
  padding: 10px 20px;
}