<%- include('head') %>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">Agenda</a>
      <% if(!user) {%>
        <button class="btn btn-outline-success" id="btn-color" type="submit"><a href="/login/index">Entrar</a></button>
        <% } else {%>
          <button class="btn btn-outline-success" id="btn-color" type="submit"><a
              href="/login/logout">Sair</a></button>
          <% } %>
    </div>
  </nav>