<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Agenda</a>
    <button class="btn btn-outline-success" type="submit">Entrar</button>
  </div>
</nav>