<%- include('includes/head') %>

  <section class="container">
   <form action="/" method="post">
     <label for="">nome</label>
     <input type="text" name="cliente">
     <button>Enviar</button>
   </form>
  </section>

  <%- include('includes/footer') %>